.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  padding: 0px 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-item {
  font-size: 14px;
}

.toolbar-section {
  background-color: #00527a;
  color: white;
}
